@import 'tailwindcss';

body {
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial,
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    width: 100%;
    height: 100vh;
}
